@*Namespace specified in directory-level _Imports.razor.*@


@*Wrapped in a span so that the Razor engine removes leading and trailing whitespace.*@
<span><AngleBrackets>@this.ChildContent/</AngleBrackets></span>


@code{
    /// <summary>
    /// The name of the tag.
    /// </summary>
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
