

<p>
    Here are all the XML and HTML tag Razor components:
</p>

<ul>
    <li>CloseHtmlTag: <CloseHtmlTag TagName="HtmlTag" /></li>
    <li>CloseXmlTag: <CloseXmlTag TagName="XmlTag" /></li>
    <li>HtmlTag: <HtmlTag TagName="HtmlTag" /></li>
    <li>OpenHtmlTag: <OpenHtmlTag TagName="XmlTag" /></li>
    <li>OpenXmlTag: <OpenXmlTag TagName="XmlTag" /></li>
    <li>SelfClosingXmlTag: <SelfClosingXmlTag>TestXML</SelfClosingXmlTag></li>
    <li>SelfClosingHtmlTag: <SelfClosingHtmlTag>TestHTML</SelfClosingHtmlTag></li>
    <li>XmlTag: <XmlTag TagName="XmlTag" /></li>
</ul>